My_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "YOUR PROMPT FOR CONTENT TO BE POSTED COMES HERE",
        "options": {}
      },
      "id": "d787cd28-c31b-4b6b-aa64-d9c0a70bfce9",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -600,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR OPENAI SUPPORTED MODEL COMES HERE"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        620
      ],
      "id": "d050bcbb-cc50-4fa0-ae7d-7ccf9bef012e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "//** **//",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": " PROMPT TO SEARCH FOR AN IMAGE ACCORDING TO THE CONTENT COMES HERE ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -224,
        0
      ],
      "id": "3392af48-404c-4a9c-b294-1d10ce6acd7e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": " YOUR OPENAI SUPPORTED MODEL COMES HERE"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -136,
        220
      ],
      "id": "22a79e8f-eecf-42ea-877e-44f371e7d9f8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "//** **//",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": " //**  **//",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        152,
        100
      ],
      "id": "031c219f-647e-42dd-80d1-5c3d94e0e65d",
      "name": "Send a text message2",
      "webhookId": "8f1ab691-36eb-4c42-929b-54d6c46fbe91",
      "credentials": {
        "telegramApi": {
          "id": "//** **//",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": " //**  **//",
        "text": "Content posted!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        500
      ],
      "id": "c0990e0e-41a5-4ff0-87b4-def837b9b4ef",
      "name": "Send a text message1",
      "webhookId": "3338d86c-0857-4dbf-9ad3-c0ed0b587934",
      "credentials": {
        "telegramApi": {
          "id": " //** **// ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR GOOGLE SHEETS URL COMES HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 99656907,
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "YOUR GOOGLE SHEETS URL COMES HERE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date of the post": "==ROW() - 1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date of the post",
              "displayName": "Date of the post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -146,
        400
      ],
      "id": "62eefbd4-5aed-4099-a9a7-f60edbf3bd13",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "//** **//",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": " //**  **//",
        "text": "Content saved to Sheets!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        152,
        400
      ],
      "id": "2e0601f7-c368-48f4-ba8d-9bce0a27c2fe",
      "name": "Send a text message3",
      "webhookId": "3338d86c-0857-4dbf-9ad3-c0ed0b587934",
      "credentials": {
        "telegramApi": {
          "id": "//** **//",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "person": "TL70CRNMhK",
        "text": "={{ $('Agent').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1032,
        500
      ],
      "id": "d2d34bea-4026-4243-a59b-043abe1d66b0",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "//** **//",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -146,
        600
      ],
      "id": "73815693-7017-40c2-8687-e510ba610e00",
      "name": "Wait",
      "webhookId": "1af2149f-9f62-4481-b0be-ad5c3011a54e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR GOOGLE SHEETS URL COMES HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 99656907,
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": " YOUR GOOGLE SHEETS URL COMES HERE "
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        152,
        600
      ],
      "id": "4271df44-132b-40c1-8997-1904264ef268",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " //**  **// ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const latest = $input.all().reduce((max, item) => {\n  return (item.json.row_number > (max?.json.row_number ?? 0)) ? item : max;\n}, null);\nreturn [latest];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        372,
        600
      ],
      "id": "831f0fbc-fdb1-49e6-9176-d3d0ec0f3b13",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20c2d286-3a3b-4c98-9443-ebae120a8fca",
              "leftValue": "={{ $json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        812,
        600
      ],
      "id": "a0d9efe9-856d-4e11-8bdb-3d8c648b8ff9",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json['Image URL'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        600
      ],
      "id": "398472e4-d4ee-4b73-a191-bb6b2c4051dd",
      "name": "Node B",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        400
      ],
      "id": "a491e652-615c-4bae-86d9-e0e1dae7bfdd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": " //**  **//",
        "text": "Content posted!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        700
      ],
      "id": "f88f9034-f613-4070-91ab-02042de8311c",
      "name": "Send a text message4",
      "webhookId": "3338d86c-0857-4dbf-9ad3-c0ed0b587934",
      "credentials": {
        "telegramApi": {
          "id": " //**  **//",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "person": "TL70CRNMhK",
        "text": "={{ $('Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1032,
        700
      ],
      "id": "acf7c287-01d8-4b73-bea0-f9b3e3bdc9d1",
      "name": "Create a post2",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": " //**  **//",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": " YOUR GOOGLE SHEETS URL COMES HERE ",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 99656907,
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": " YOUR GOOGLE SHEETS URL COMES HERE "
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Posted": "✅",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date of the post",
              "displayName": "Date of the post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1252,
        500
      ],
      "id": "2002a1c4-7fc3-43e2-8823-17f6e45cbf91",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " //**  **//",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": " YOUR GOOGLE SHEETS URL COMES HERE ",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 99656907,
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": " YOUR GOOGLE SHEETS URL COMES HERE "
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Posted": "✅",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date of the post",
              "displayName": "Date of the post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1252,
        700
      ],
      "id": "f952d25d-a0d8-485b-b0d0-c94cdbb630b3",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " //**  **// ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Node B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node B": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post2": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "61950adbf2a45057cf86db78736e0f16ca9c8eeb9f4fcada284bdab4bbe02a89"
  }
}
